.loginPage{
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/login/微信图片_2025-04-22_111548_348.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.loginPage h1{
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  margin-top: 50px;
  margin-left: 20px;
}
.login{
  position: relative;
  margin: 100px auto 0;
  width: 250px;
  height: 250px;
}
.login .alert{
  position: absolute;
  top: -10%;
  /* width: 150px; */
  height: 30px;
  border-radius: 25px;
  text-align: center;
  opacity: 0;
  /* background-color: #fff; */
}
.login .show{
  opacity: 1;
}
.login .alert-success{
  color: rgb(126, 195, 126);
}
.login .alert-anger{
  /* z-index: 1; */
  background-color: rgb(231, 103, 103);
}
.login .input{
  width: 250px;
  height: 50px;
  border-radius: 25px;
  margin: 10px 0;
}
.login input{
  width: 250px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid rgb(110, 205, 126);
  text-align: center;
}
.login .input button{
  width: 250px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid rgb(110, 205, 126);
  background-color: rgb(91, 193, 109);
}
.login .other{
  display: flex;
  justify-content: space-between;
}
.login .other a{
  font-size: 12px;
  color: #fff;
}

.other{
  margin: 20px 20px;
  margin-top: auto;
}
.other .text{
  color: #fff;
  font-size: 12px;
}
.other .ways{
  width: 150px;
  height: 30px;
  margin: 5px;
}
.other .ways ul{
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.other .ways ul li .iconfont{
  font-size: 30px;
  color: black;
  text-align: center;
}
.other .agree .agreement{
  color: bisque;
}
.other .agree .chinamobile{
  color: rgb(117, 201, 117);
}