@font-face {
  font-family: "iconfont"; /* Project id 4901129 */
  src: url('iconfont.woff2?t=1745500133772') format('woff2'),
       url('iconfont.woff?t=1745500133772') format('woff'),
       url('iconfont.ttf?t=1745500133772') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kuaijiehuifu:before {
  content: "\e65c";
}

.icon-jia:before {
  content: "\e65b";
}

.icon-aite:before {
  content: "\e7ab";
}

.icon-gengduoneirong:before {
  content: "\e636";
}

.icon-saoma:before {
  content: "\e749";
}

.icon-xiangqing:before {
  content: "\e667";
}

.icon-icon_zhuanfa:before {
  content: "\e656";
}

.icon-shanchu:before {
  content: "\e61a";
}

.icon-sousuo:before {
  content: "\e60f";
}

.icon-tianjia:before {
  content: "\e610";
}

.icon-aixin:before {
  content: "\e83f";
}

.icon-shizhong:before {
  content: "\e660";
}

.icon-wode:before {
  content: "\e615";
}

.icon-pinglun:before {
  content: "\e8b4";
}

.icon-lingdang:before {
  content: "\e608";
}

.icon-mianxingshuidi:before {
  content: "\e609";
}

.icon-shezhi:before {
  content: "\e7eb";
}

.icon-youjiantou:before {
  content: "\e622";
}

.icon-xiaofangzi:before {
  content: "\e617";
}

.icon-shoucang:before {
  content: "\e78f";
}

.icon-bianzu:before {
  content: "\e657";
}

.icon-zuojiantou:before {
  content: "\e686";
}

.icon-xianrenzhang_cactus:before {
  content: "\e727";
}

.icon-wode1:before {
  content: "\e600";
}

.icon-weibo:before {
  content: "\e62f";
}

.icon-qq:before {
  content: "\e6a0";
}

.icon-weixin:before {
  content: "\e6b3";
}

